@import '../../styles/mixins';

.header {
  margin: 40px 0;
  animation: fade-in 1s forwards;
  animation-delay: .4s;
  opacity: 0;
  z-index: 30;
  position: relative;
  transition: 0.2s all;

  @include mobile {
    margin: 40px 20px 100px;

    &__wrapper:not(.header__wrapper--active) {
      display: none;
    }
  }

  &--active {
    margin-right: 0;
    margin-left: 0;
  }

  &__wrapper--active {
    animation: fade-in .5s;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: #333;
    width: 100%;
    height: 100%;

    .header__margin {
      display: none;
    }

    .header__list {
      padding-top: 40px;
      flex-direction: column;
      align-items: flex-start;
    }

    .header__link {
      font-size: 36px;
      margin-bottom: 10px;
      color: white;
      opacity: 1;
    }
  }


  &__mobile {
    display: none;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      display: flex;
    }
  }

  &__hamburger {
    width: 30px;
    height: 10px;
    padding: 10px;
    position: relative;
    margin-top: -2px;
    border: none;
    background: none;

    &:after, &:before {
      content: '';
      height: 2px;
      width: 100%;
      background: white;
      display: block;
      border-radius: 10px;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:before {
      top: 8px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: 0 auto;

    @include tablet {
      width: 100%;
    }
  }

  &__margin {
    margin: 0 50px;

    @include tablet {
      margin: 0 10px;
    }
  }

  &__logo {
    display: block;
    background: url('/static/images/logo-white.png') no-repeat;
    background-size: contain;
    width: 300px;

    @include tablet {
      width: 150px;
    }
  }

  &__link {
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    opacity: .7;
    display: inline-block;
    position: relative;

    &:after {
      content: '';
      width: 0%;
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: -2px;
      display: block;
      transition: 0.2s width;
    }

    &:hover {
      color: rgba(255, 255, 255, 1);
      opacity: 1;

      &:after {
        width: 40%;
      }
    }
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}