@import '../../styles/mixins';

.vision {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    flex-direction: column;
  }

  img {
    margin-right: 50px;

    @include tablet {
      margin-bottom: 50px;
    }

    @include mobile {
      height: 200px;
      margin-right: 0;
      margin-bottom: 80px;
    }
  }

  span {
    font-size: 14px;
    color: #666;
    line-height: 22px;
  }

  &__list {
    margin-left: 40px;
    counter-reset: list;
  }

  &__item {
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 12px;
    transition: .2s all;

    &:hover {
      background: #f3f3f3;
    }
  }

  &__title {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    counter-increment: list;
    margin-bottom: 10px;

    &:before {
      content: counter(list);
      color: white;
      padding: 5px;
      background: #333;
      font-size: 22px;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      display: inline-block;
      text-align: center;
      margin-right: 10px;
    }
  }
}