.section__title {
  position: relative;
  font-weight: 500;
  font-size: 36px;
  display: inline-block;
  padding-top: 20px;
  letter-spacing: -1px;
  color: #666;
  margin-bottom: 80px;
  z-index: 10;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 30px;
    background: #666;
    border-radius: 10px;
  }

  &--dark {
    color: white;

    &:after {
      background: white;
    }
  }
}