@import '../../styles/mixins';

.hero {
  margin-top: 120px;
  position: relative;

  @include mobile {
    margin-top: 0;
  }

  &__title {
    color: white;
    font-size: 60px;
    letter-spacing: -2px;
    position: relative;
    overflow: hidden;
    width: max-content;
    animation: fade-in .8s forwards;
    animation-delay: 1s;
    opacity: 0;

    @include tablet {
      font-size: 46px
    }

    @include mobile {
      width: auto;
      font-size: 42px;
      display: inline;
      margin-right: 5px;
      animation: fade-in .8s forwards !important;
      animation-delay: 1s !important;

      &:before {
        display: none;
      }
    }

    &:before {
      content: '';
      width: 0%;
      background: rgba(0, 0, 0, .5);
      position: absolute;
      height: 40px;
      bottom: 0;
      left: 0;
      z-index: -1;
      animation: slide-left 1s cubic-bezier(1, 0, 0, 1) forwards;
      animation-delay: 1.2s;

      @include tablet {
        height: 25px;
      }
    }

    &--second {
      animation-delay: 2.2s;
      &:before {
        animation-delay: 2.4s;
      }
    }

    &--third {
      animation-delay: 3.4s;
      &:before {
        animation-delay: 3.6s;
      }
    }
  }

  &__gradient {
    display: inline-block;
    background-image: linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear;
  }

  &__button {
    display: inline-block;
    margin-top: 50px;
    background: rgba(255, 255, 255, .8);
    padding: 20px;
    animation: fade-in 1.2s forwards;
    animation-delay: 4s;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    opacity: 0;
    border-radius: 4px;

    @include tablet {
      background: white;
    }

    @include mobile {
      display: block;
      width: 70%;
      margin: 50px auto;
      text-align: center;
      font-size: 18px;
      animation-delay: 1.5s;
    }

    &:hover {
      font-weight: bolder;
      background: white;
    }
  }

  &__arrow {
    width: 20px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: 50px;
    opacity: 0;
    animation: fade-in 1.2s forwards;
    animation-delay: 4s;

    @include mobile {
      animation-delay: 2s;
    }
  }

  &__bounce {
    display: block;
    background: url("/static/images/arrow-down.png") no-repeat;
    background-size: 20px;
    width: 20px;
    height: 25px;
    animation: bounce 2s infinite;
  }
}

@keyframes slide-left {
  from { width: 0%; }
  to { width: 100%; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes hue {
  from { filter: hue-rotate(0deg); }
  to { filter: hue-rotate(-360deg); }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-30px); }
  60% { transform: translateY(-15px); }
}